/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    border: none;
    cursor: pointer;
}

main {
    background-color: #C8E6C9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

main * {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    color: #FFFFFF;


}

header {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4CAF50;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .26);
    height: 14vh;
}

header * {
    background-color: #4CAF50;
    text-transform: lowercase;
}

main > section {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%
}

#routeName {
    text-decoration: none;
    font-size: 9vh;
    font-weight: bold;
    letter-spacing: 2vw;
    flex-grow: 2;
}


noscript {
    font-size: 10vh;
    color: #F44336;
    grid-row: 2;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.error {
    background-color: #F44336;
}


section#init {
    justify-self: center;
    text-align: center;

}

section#init > h2 {
    color: #33691E;
    letter-spacing: 1vw;
    font-weight: 300;
    font-size: 10vh;

}
section#init > img {
    height: 69vh;
    max-width: 95vw;
    border-radius: 5px;
}

.elementList {
    align-content: space-between;
}
.element {
    width: 90vw;
    text-align: left;
    box-shadow: 0px 0px 15px -5px black;
    background-color: #F1F8E9;
    padding-left: 2vw;
    border-radius: 5px;
    transition: all 0.5s ease;
    margin-top: 2vh;
}

.element:hover {
    margin-top: 3vh;
    margin-bottom: 1vh;
    background-color: #C8E6C9;
}

.subelementList > menu > .element:hover {
    margin-top: 2vh;
    margin-bottom: 0;
}
.element *, .elementView * {
    color: #33691E;
}
.element > h4 {
    font-size: 6vh;
    text-transform: capitalize;
}
.element > p {
    font-size: 4vh;
    font-weight: 300;
    padding-top: 1vh;
}
.elementView, .addPage {
    box-shadow: 0px 0px 15px -5px black;
    width: 95vw;
    height: 100vh;
    margin-top: 2vh;
    background-color: #F1F8E9;
    color: #33691E;
    overflow: auto;
}

.elementView > article {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.elementView > article > h2 {
    font-size: 7vh;
    padding-top: 1vh;
    letter-spacing: .25vw;
    padding-left: 1.5vw;
    text-transform: capitalize;
}

.elementView > article > p {
    font-size: 4vh;
    font-weight: 300;
    padding-left: 2.5%;
}
.image-gallery > img {
    max-width: 95%;
    max-height: 50vh;
    border-radius: 5px;
}


@media (max-width: 700px) {
    #header {
	font-size: 6vh;
    }
}
@media (max-width: 500px) {
    #header {
	font-size: 5vh;
    }
}

.subelementList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2.5%;
}

.subelementList > h3 {
    font-size: 5.5vh;
    align-self: flex-start;
}

.subelementList h4 {
    font-size: 4vh;
}


input {
    width: 30vw;
    color: #33691E;
    font-size: 2.5vh;
}

label {
    color: #33691E;
}
form button {
    background-color: #43A047;
    font-size: 4vh;
    height: 6vh;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    transition: all 0.25s ease;
}

form button:enabled:hover {
    background-color: #2E7D32;
}

.form-block {
    display: flex;
    flex-direction: column;
}
.form-block ~ .form-block {
    margin-top: 3vh ;
}
form .message {
    margin: 3vw;
    font-size: 4vh;
}

form label {
    display: block;
    color: #33691E;
    text-transform: capitalize;
}

form textarea {
    color: #33691E;
}

.addPage {
    padding: 4vh 0;
}

.addPage textarea {
    resize: none;
    height: 25vh;
    font-size: 2vh;
}


.form-block > label {
    font-weight: 500;
}

label + * {
    display: block;
    margin-top: 1.5vh;
}

label > .primary {
    font-size: 4vh;
    display: block;
    margin-bottom: 1vh;
    color: #33691E;
}

div.image-gallery {
    height: 50vh;
    display: flex;
    overflow: scroll;
    margin: 0 2vw;
}

.addPage form {
    width: 70vw;
